# Application Environment
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your-jwt-secret-key-here

# Database Configuration
DATABASE_URL="mongodb://root:123456@localhost:27017/next-project-manager?authSource=admin"

# This is used by the API to allow cross-origin requests from the web app
NEXT_PUBLIC_WEB_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"